version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trusted_insurance
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/trusted_insurance
      JWT_SECRET: supersecretjwt
      PORT: 4000
    depends_on:
      - db
    ports:
      - "4000:4000"
    command: sh -c "npm run prisma:migrate -- --name init && npm run prisma:seed && npm run start"

volumes:
  db-data:
